body {
  text-align: center;
  background-color: #35598d;
  margin-top: 0;
  font-family: arial, sans-serif;
}

body>div {
  margin: auto;
  width: 800px;
}

.header {
  background-image: url(images/kasperzak-hospital-header2.png);
  height: 200px;
  vertical-align: bottom;
  text-align: center;
}

.headshot {
  display: block;
  float: left;
  text-align: right;
  height: 200px;
  width: 158px;
}

.nav {
  text-align: right;
  vertical-align: bottom;
  height: 200px;
  padding-top: 170px;
}

.nav a {
  color: #ffffff;
  padding: 10px;
  display: inline;
  font: 14px arial, helvetica, sans-serifs;
  font-weight: regular;
  text-align: right;
  text-transform: inherit;
}

.nav a:hover {
  color: #0b3055;
  font: 14px arial, helvetica, sans-serifs;
  background-color: #ffffff;
}

.content {
  background-color: #ffffff;
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.content>div {
  display: inline-block;
}

.content .text {
  width: 500px;
  text-align: left;
}

.content .rhs {
  width: 250px;
  vertical-align: top;
  text-align: center;
}

.joinlist {
  margin-top: 10px;
  border: 1px solid rgb(0, 102, 153);
  border-radius: 10px;
  padding: 5px;
  width: 170px;
  display: inline-block;
}

.register {
  margin-top: 15px;
}

.footer {
  width: 800px;
  /*background-color: #92aece;*/
  font-size: 13px;
  color: white;
}

.footer>div {
  padding: 5px;
}

.copyright {
  float: left;
}

.ffpcinfo {
  text-align: right;
}

.small {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #333333;
  line-height: 13px;
  padding-left: 10px;
}

.newslist {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #333333;
  line-height: 13px;
  padding-left: 10px;

}

.super-small {
  font-family: "Trebuchet MS", arial, sans-serif;
  font-size: 9px;
  color: #333333;
  line-height: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

.body {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;

}

ul, li {
  line-height: 20px;
}

.list {
  font-family: arial, sans-serif;
  font-size: 12px;
  color: #000000;
  font-style: normal;
  font-weight: normal;
  padding-left: 15px;
  }

.big-body {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #0e345a;
  font-style: normal;
  padding-left: 10px;
  font-weight: bold;
}


.bodyquote {
  font-family: arial, sans-serif;
  font-size: 11px;
  color: #000000;
  background: #e5e5e5;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
  padding: 10px;
}

a {
  font-family: arial, sans-serif;
  text-decoration: none;
  color: #0e345a;
}

a:hover {
  font-family: arial, sans-serif;
  text-decoration: underline;
  color: #0e345a;
}

ul.endorsements {
  padding-inline-start: 0;
}

ul.endorsements li {
  list-style-type: none;
  font-size: 15px;
}

h1 {
  font-family: arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0e345a;
  line-height: 24px;
}

h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  color: #0e345a;
  line-height: 20px;
}

b {
  font-family: arial, sans-serif;
  font-weight: bold;
}